# Python
__pycache__/
*.py[cod]
*.pyo
.env
venv/
.venv/

# Claude code
.claude

# Streamlit
.streamlit/

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# .md file
PROMPT.md
PROMPT_v2.md
PROMPT_v3.md

# v1
legacy/
models/best_transformer_model.pth
models/lyrics_lstm_checkpoint.pth
src/utils.py
models/
notebooks/
cache/
