# Python
__pycache__/
*.py[cod]
*.pyo
.env
venv/
.venv/

# PyTorch checkpoints
models/*.pth

# Streamlit
.streamlit/

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/
notebooks/

# .md file
PROMPT.md

# data
data/*.csv
!data/mixed_lyrics.csv
